<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro primer Template</title>
</head>
<body>
    <h1>Bienvenido, {{username}}</h1>
    <p>Inicio de sesion: {{fecha_actual}}</p>
    <h2> Este es nuestro primer template con django </h2>
    <p>Lo estamos renderizando desde una vista aprovechando las clases del paquete</p>

    <img src="https://images.pexels.com/photos/2399840/pexels-photo-2399840.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Tecnologia"
</body>
</html>
